/**
 * Tableless Layout for default template
 *
 * @author Andreas Gohr <andi@splitbrain.org>
 * @author moraes <moraes@tipos.com.br>
 */

/* -------------- top row --------------- */
div.dokuwiki .header {
  padding: 2em;
}

.stylefoot {
  margin-left: 200px;
}

div.dokuwiki .pagename {
  float: left;
  font-size: 200%;
  font-weight: bolder;
  color: __background_alt__;
  text-align: left;
  vertical-align: middle;
}

div.dokuwiki .pagename a {
  color: __extern__ !important;
  text-decoration: none !important;
}

div.dokuwiki .logo {
  float: left;
  font-size: 3.3em;
/*  font-style: italic;*/
/*  font-family:Times New Roman;*/
  font-family: 'Sorts Mill Goudy', "Lucida Grande",Verdana,Lucida,Helvetica,Arial,sans-serif;
}

div.dokuwiki .logo a {
/*  color: __background_alt__ !important; */
  text-decoration: none !important;
  font-weight:bold;
  font-variant: small-caps;
  letter-spacing: 2pt;
}

div.dokuwiki .subhead {
  text-align: right;
color: __background_alt__;
font-size:160%;
font-variant:small-caps;
margin:0.2em 0.4em 0 0;
}

/* ---------------  top and bottom bar ---------------- */
div.dokuwiki .bar {
  background: __background_neu__;
  padding: 0.1em 0.15em;
  clear: both;
}

#bar__bottom {
  border-top: 3px solid __border__;
}

div.dokuwiki .bar-left {
  float: left;
}

div.dokuwiki .bar-right {
  float: right;
  text-align: right;
}

/* ------------- File Metadata ----------------------- */

div.dokuwiki div.meta {
  clear: both;
  margin-top: 1em;
  color: __text_alt__;
  font-size: 70%;
}

div.dokuwiki div.meta div.user {
  float: left;
}

div.dokuwiki div.meta div.doc {
  text-align: right;
}
